---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;


@font-face {
	font-family: 'light';
	font-weight: 300;
	src: url('../fonts/Cera Pro Light.otf');
}

@font-face {
	font-family: 'light';
	font-weight: 500;
	src: url('../fonts/Cera Pro Medium.otf');
}

@font-face {
	font-family: 'light';
	font-weight: 700;
	src: url('../fonts/Cera Pro Bold.otf');
}
